#block+*>div.build~ul li {
    color: red;
}
 
div#team~* + .yes > p.set a {
    color: red;
    text-decoration: none;
    font-size: 60px;
}

input {
    -webkit-appearance: none;
    position: relative;
    width: 24px;
    height: 16px;
    border-radius:8px;
    background-color:grey;
    outline: none;
    cursor: pointer;
    border: none;
}

input::after {
    content: "";
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: blue; */
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: white;
    transition: left .3s;
    padding-left: 3px;
}

input:checked {
    background-color: green;
}

input:checked::after {
    left: 60%;
}

.container {
    text-align: center;
}